Nhom18_XDPM/packages
Nhom18_XDPM/.vs
Nhom18_XDPM/Business/bin/
Nhom18_XDPM/Business/obj/
Nhom18_XDPM/DataAccess/bin/
Nhom18_XDPM/DataAccess/obj/
Nhom18_XDPM/Nhom18_XDPM/bin/
Nhom18_XDPM/Nhom18_XDPM/Nhom18_XDPM.csproj.user
Nhom18_XDPM/Nhom18_XDPM/obj/
Nhom18_XDPM/Nhom18_XDPM_UI/obj/
Nhom18_XDPM/Nhom18_XDPM_UI/bin/